@use "sass:math";
@import './variables';
/**背景色 **/
@each $theme, $config in $themes {
  .#{$theme} {
    background: map-get($config, 'bg');
    color: map-get($config, 'color');
  }
}

/** 内外边距 start **/
$sizes: 6, 12, 24, 36, 48, 60, 72;
$pmArrs: (
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left
);

@each $key, $value in $pmArrs {
  @each $size in $sizes {
    .#{$key}#{$size} {
      #{$value}: $size + px;
    }
  }
}
/** 字体大小控制 start **/

$i: 28;
@while $i > 10 {
  .ft-#{$i} {
    font-size: $i + px;
  }
  $i: $i - 2;
}

/** 用户行为操作 **/
.select-no {
  user-select: none;
}
/** 块元素控制 **/
.none {
  display: none;
}

.wh100 {
  width: 100%;
  height: 100%;
}

/** 宽度  24 栅格布局 **/
// 并列 需添加 父级class
.xy-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.xy-row-v {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.xy-col-0 {
  @extend .none;
}
@for $i from 0 through 24 {
  .xy-col-#{$i} {
    width: (math.div(1, 24) * $i * 100) * 1%;
  }
  .xy-ml-#{$i} {
    margin-left: (math.div(1, 24) * $i * 100) * 1%;
  }
  .xy-pr-#{$i} {
    position: relative;
    right: (math.div(1, 24) * $i * 100) * 1%;
  }
  .xy-pl-#{$i} {
    position: relative;
    left: (math.div(1, 24) * $i * 100) * 1%;
  }
}
