$namespace: 'xy';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';

// 定义主题

$themes: (
  sk-default: (
    bg: #f7f8fb,
    color: #888
  ),
  sk-while: (
    bg: #fff,
    color: #888
  ),
  sk-blue: (
    bg: #409eff,
    color: #fff
  ),
  sk-mo: (
    bg: #585756,
    color: #fff
  )
);
